cmd/adaEuclid/adaEuclid
cmd/displayTest/displayTest
cmd/gallery/gallery
cmd/ledgrid/ledgrid
cmd/paletteEditor/paletteEditor
cmd/paletteEditor/paletteDump
cmd/simpleDraw/simpleDraw
cmd/tabPanel/tabPanel
cmd/touchCalib/touchCalib
cmd/touchTest/touchTest
cmd/showPNG/showPNG

*.go_*
*.swp
*.cpuprof
*.memprof
*.trace
*.save

